body {
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.center {
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 40px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}
.nav>li {
    padding-left: 29px;
    margin-left: 23px;
    position: relative;
}
.nav>li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left:0;
}
.nav>li:first-child::before {
    display: none;
}
.nav>li:first-child {
    padding-left: 0;
    margin-left: 0;
}
.nav>li>a {
    color: #494949;
    text-decoration: none;
}
.banner {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 214px;
    padding-bottom: 285px;
}
.pizza {
    position: absolute;
    right: -15px;
    top: -200px;
}
.title {
    font-size: 50px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.description {
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 24px;
}
.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 12px 0;
    max-width: 188px;
    text-align: center;
}
.h2 {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 11px;
}
.h2::before, .h2::after {
    content: '';
    position: absolute;
    background-image: url(../image/item.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}
.h2::before {
    left: 0;
}
.h2::after {
    right: 0;
}
.h2 + p {
    font-size: 20px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 63px;
}
.menu > li {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.menu > li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left:0;
}
.menu > li:first-child::before {
    display: none;
}
.menu > li > a {
    text-decoration: none;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.menu > li > a.active {
    border-bottom: 4px solid #ee252d;
    position: relative;
}
.menu > li > a.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
}
.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.box-item {
    padding: 54px 0 41px 55px;
    box-sizing: content-box;
}
.number {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: #282828;
    margin-bottom: 20px;
}
.number::after {
    content: '';
    display: block;
    position: absolute;
    
}
.number-one::after {
    background-image: url(../image/icon01.png);
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}
.number-two::after {
    background-image: url(../image/icon02.png);
    width: 184px;
    height: 81px;
    left: 88px;
    top: calc(50% - 40px);
}
.number-three::after {
    background-image: url(../image/icon03.png);
    width: 142px;
    height: 68px;
    left: 94px;
    top: calc(50% - 34px);
}
.box-text {
    border-right: 1px solid #eaeaea;
    padding-right: 55px;
}
.box-item:last-child .box-text {
    border-right: none;
}
.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 11px;
    margin-top: 0;
}
.box-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #282828;
    line-height: 24px;
    margin-top: 0;
}
.btn-start {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../image/bg.png);
    background-position: center center;
    text-decoration: none;
    padding: 29px 58px;
    background-repeat: no-repeat;
}
.page {
    padding-top: 75px;
    padding-bottom: 107px;
}
.footer {
    background-image: url(../image/footer.png);
    padding: 22px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }
    .pizza {
        display: none;
    }
    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }
    .h2, .box-text h3 {
        font-size: 35px;
    }
    .h2 + p {
        font-size: 18px;
    }
    .menu > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box {
        flex-direction: column;
    }
    .box-item {
        padding: 30px 55px 24px 55px;
    }
    .box-text {
        border-right: none;
        padding-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
    }
    .box-item:last-child .box-text {
        border-bottom: none
    }
}
@media (max-width: 800px) {
    .navigation {
        flex-direction: column;
    }
    .nav {
        margin-top: 34px;
    }
    .h2::before, .h2::after {
        display: none;
    }
    .btn-start {
        font-size: 20px;
        background-size: contain;
    }
    .footer {
        padding: 13px 0;
        font-size: 15px;
    }
}
